.navbar {
  background: #000; }
  .navbar .nav-item {
    text-transform: uppercase;
    margin-left: 20px; }

#slider .carousel-item {
  height: 60vh; }

#slider .carousel-1 {
  background: url("../img/image1.jpg");
  background-size: cover; }

#slider .carousel-2 {
  background: url("../img/image2.jpg");
  background-size: cover; }

#slider .carousel-3 {
  background: url("../img/image3.jpg");
  background-size: cover; }

#home-icon .fa {
  font-size: 50px;
  padding: 5px 0 5px 0; }

#get-start {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/bg1.jpg");
  background-attachment: fixed;
  background-size: cover; }

#video {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/people.jpg");
  background-attachment: fixed;
  background-size: cover; }
  #video .fa {
    font-size: 50px;
    color: #ff0000; }

#footer {
  background: #000; }

#about-header {
  background: url("../img/image1.jpg");
  background-attachment: fixed; }

#about-info img {
  height: 350px;
  width: 350px; }

#about-boxes .fa {
  font-size: 50px;
  margin-bottom: 15px; }

#testimonial .slick-prev::before,
#testimonial .slick-next::before {
  color: #000; }

#services-header {
  background: url("../img/image3.jpg");
  background-attachment: fixed; }

@media (max-width: 767px) {
  .navbar .nav-item {
    margin-left: 0; } }
